



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c5d8d7;
}

.affichage {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: left;
    padding: 50px;
    background-color: #5B696B;
    margin: 0;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    
    background-color: #C5C5A9;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%; 
    margin: 0 auto; 
    padding: 0;
    
}

.title {
    font-size: 70px;
    color: #37463D;
    text-align: center;
    padding: 0;
    font-family: "Lucida Handwriting";
    margin: 0;
}

#album {
    text-align: left;
    margin: 0;
    padding: 14px 20px;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0;
    
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    
}

.nav-menu li {
    margin: 0;
    position: relative;
    
}

.nav-menu a {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
}

.nav-menu a:hover {
    background-color: #575757;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 1000;
}

.submenu li {
    width: 200px;
}

.submenu a {
    padding: 10px 20px;
    color: #fff;
}

.submenu a:hover {
    background-color: #575757;
}

.nav-item:hover .submenu {
    display: block;
}

.content-section {
    display: none;
}

#berlin {

    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
}



#berlin .clickable {
    display: block;
    max-width: 100%;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

#berlin .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
}

#berlin .title {
    animation: none;
    opacity: 1;
    transition: none;
}

#berlin .visible {
    animation: none;
}

#berlin ul {
    
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#berlin li {
    display: block;  
    max-width: 100%;
    margin: 10px;
    text-align: center;
}

#berlin img {
    display: block;  
    max-width: 100%;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

#berlin ul li img:hover {
    transform: scale(1.05);
}

#chemnitz {

    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
}



#chemnitz .clickable {
    padding: 10px; 
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#chemnitz .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
}

#chemnitz .title {
    animation: none;
    opacity: 1;
    transition: none;
}

#chemnitz .visible {
    animation: none;
}

#chemnitz ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#chemnitz li {
    margin: 10px;
    text-align: center;
    
}

#chemnitz img {
    display: block;  
    max-width: 100%;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

#chemnitz ul li img:hover {
    transform: scale(1.05);
}

#budapest {
  
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
}

#budapest .clickable {
    padding: 10px; 
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#budapest .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
}


#budapest .title {
    animation: none;
    opacity: 1;
    transition: none;
}

#budapest .visible {
    animation: none;
}

#budapest ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#budapest li {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    
}
#budapest img {
    display: block;  
    max-width: 100%;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

#budapest ul li img:hover {
    transform: scale(1.05);
}


#vienne {
  
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
    word-break: break-word;
}

#vienne .clickable {
    padding: 10px; 
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    word-break: break-word;
}

#vienne .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
    word-break: break-word;
}


#vienne .title {
    animation: none;
    opacity: 1;
    transition: none;
    word-break: break-word;
}

#vienne .visible {
    animation: none;
    word-break: break-word;
}

#vienne ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    word-break: break-word;
}

#vienne li {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    word-break: break-word;
}

#vienne img {
    display: block;
    margin: 0 auto;
    word-break: break-word;
    transition: transform 0.3s ease;
}

#vienne ul li img:hover {
    transform: scale(1.05);
}

#bratislava {
  
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
}

#bratislava .clickable {
    padding: 10px; 
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#bratislava .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
}


#bratislava .title {
    animation: none;
    opacity: 1;
    transition: none;
}

#bratislava .visible {
    animation: none;
}

#bratislava ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#bratislava li {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    
}
#bratislava img {
    display: block;  
    max-width: 100%;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}
#bratislava ul li img:hover {
    transform: scale(1.05);
}


#prague {
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 


    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
}



#prague .clickable {
    padding: 10px; 
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#prague .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
}

#prague .title {
    animation: none;
    opacity: 1;
    transition: none;
}

#prague .visible {
    animation: none;
}

#prague ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#prague li {
    margin: 10px;
    text-align: center;
    
}

#prague img {
    display: block;  
    max-width: 100%;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

#prague ul li img:hover {
    transform: scale(1.05);
}


#dresden {
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
}



#dresden .clickable {
    padding: 10px; 
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#dresden .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
}

#dresden .title {
    animation: none;
    opacity: 1;
    transition: none;
}

#dresden .visible {
    animation: none;
}

#dresden ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#dresden li {
    margin: 10px;
    text-align: center;
}

#dresden img {
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

#dresden ul li img:hover {
    transform: scale(1.05);
}


#leipzig {
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
}



#leipzig .clickable {
    padding: 10px; 
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: block;  
    max-width: 100%; 
}

#leipzig .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
}

#leipzig .title {
    animation: none;
    opacity: 1;
    transition: none;
}

#leipzig .visible {
    animation: none;
}

#leipzig ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#leipzig li {
    margin: 10px;
    text-align: center;
}

#leipzig img {
    
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

#leipzig ul li img:hover {
    transform: scale(1.05);
}


#mars {
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
}



#mars .clickable {
    padding: 10px; 
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: block;  
    
}

#mars .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
}

#mars .title {
    animation: none;
    opacity: 1;
    transition: none;
}

#mars .visible {
    animation: none;
}

#mars ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#mars li {
    margin: 5px; 
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto; 
}

#mars img {
    max-width: 100%; 
    height: auto; 
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

#mars ul li img:hover {
    transform: scale(1.05);
}


#avril {
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
}



#avril .clickable {
    padding: 10px; 
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: block;  
    max-width: 100%; 
}

#avril .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
}

#avril .title {
    animation: none;
    opacity: 1;
    transition: none;
}

#avril .visible {
    animation: none;
}

#avril ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#avril li {
    margin: 10px;
    text-align: center;
}

#avril img {
    
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

#avril ul li img:hover {
    transform: scale(1.05);
}


#mai {
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
}



#mai .clickable {
    padding: 10px; 
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: block;  
    max-width: 100%; 
}

#mai .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
}

#mai .title {
    animation: none;
    opacity: 1;
    transition: none;
}

#mai .visible {
    animation: none;
}

#mai ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#mai li {
    margin: 10px;
    text-align: center;
}

#mai img {
    
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

#mai ul li img:hover {
    transform: scale(1.05);
}




#juin {
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
}



#juin .clickable {
    padding: 10px; 
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: block;  
    max-width: 100%; 
}

#juin .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
}

#juin .title {
    animation: none;
    opacity: 1;
    transition: none;
}

#juin .visible {
    animation: none;
}

#juin ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#juin li {
    margin: 10px;
    text-align: center;
}

#juin img {
    
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

#juin ul li img:hover {
    transform: scale(1.05);
}


#juillet {
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: none;
    margin: 0;
    padding: 0;
}



#juillet .clickable {
    padding: 10px; 
    background-color: rgba(128, 128, 128, 0.9); 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: block;  
    max-width: 100%; 
}

#juillet .clickable:hover {
    background-color: rgba(128, 128, 128, 0.9); 
}

#juillet .title {
    animation: none;
    opacity: 1;
    transition: none;
}

#juillet .visible {
    animation: none;
}

#juillet ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#juillet li {
    margin: 10px;
    text-align: center;
}

#juillet img {
    
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

#juillet ul li img:hover {
    transform: scale(1.05);
}



.search-container {
    position: relative;
    max-width: 400px; 
    margin: 20px auto;
}


#searchBox {
    width: 150px; 
    padding: 10px 15px;
    border: 2px solid #2c3642;
    border-radius: 25px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    transform: translateX(-50%);
}

#searchBox:focus {
    border-color: #425263;
    outline: none;
}

.suggestions-list {
    position: absolute; 
    top: 100%; 
    left: 0;
    right: 0; 
    max-height: 300px; 
    overflow-y: auto; 
    background-color: #C5C5A9; 
    border: 1px solid #313b45; 
    border-radius: 0 15px 15px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}


.suggestions-list li {
    padding: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}


.suggestions-list li:hover {
    background-color: #000000; 
}


.suggestions-list:empty {
    display: none; 
}

#cancelButton {
    position: absolute;
    right: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    padding: 10px 15px;
    border: 2px solid #2c3642;
    background-color: #f44336; 
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cancelButton:hover {
    background-color: #d32f2f;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 640px;
    height: 360px;
    background-color: #000;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.video-container:hover {
    transform: scale(1.05);
}



.play-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: #2980b9;
}

.sub-content-section {
    margin-bottom: 30px;
}



ul .clickable {
    font-family: Arial, sans-serif; 
    font-size: 20px; 
    font-weight: bold;
    color: #333; 
    margin-bottom: 15px;
}




#video-section .clickable {
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.9); 
    border-radius: 10px;
   
    max-width: 100%;
    text-align: center;
}


#video-section .video-title {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333; 
    margin-bottom: 10px; 
}

#monVideo {
    width: 300px;
    height: 500px;
}
